services:
  # Servicio del Backend (API - Azure Functions)
  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - AzureWebJobsScriptRoot=/home/site/wwwroot
      - AzureFunctionsJobHost__Logging__Console__IsEnabled=true
      - AzureWebJobsStorage=UseDevelopmentStorage=true  # IMPORTANTE: Requerido para que arranque

  # Servicio del Frontend (Blazor + Nginx)
  web:
    build:
      context: .
      dockerfile: FacturaFacil.UI/Dockerfile
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api