services:
  # Servicio del Backend (API - ASP.NET Core)
  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "7100:8080" # Mapeo host:contenedor

  # Servicio del Frontend (Blazor + Nginx)
  web:
    build:
      context: .
      dockerfile: FacturaFacil.UI/Dockerfile
    restart: always
    ports:
      - "5080:80" # Mapeo host:contenedor
    depends_on:
      - api
